# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
node_modules/
dist
dist-ssr
*.local
database/settings.php
vite.config.js 
# Ignore the Vite config file, unless need to add plugins

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# go away ds :(
**/.DS_Store
.DS_Store
*/.DS_Store