<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
  </head>
  <body>

    <div id="navbar-placeholder"></div>

    
    <section class="hero">
        <div class="container">
            <h1>Discover Your Next Favorite Book</h1>
            <p>Browse thousands of titles from all genres</p>
        </div>

        <div class="search-bar">
            <form class="d-flex justify-content-center gap-2" id="search-form">
                <input
                    type="text"
                    class="form-control w-50"
                    id="search-input"
                    placeholder="Search by title or author..."
                    >
                <button type="submit" class="btn btn-primary px-4">Search</button>
            </form>
        </div>

        <div class="container text-center my-4 py-3">
            <span class="text-muted me-2">Popular genres:</span>
                <a href="search?query=fiction" class="btn btn-sm btn-outline-secondary">Fiction</a>
                <a href="search?query=fantasy" class="btn btn-sm btn-outline-secondary">Fantasy</a>
                <a href="search?query=science fiction" class="btn btn-sm btn-outline-secondary">Sci-Fi</a>
                <a href="search?query=classic" class="btn btn-sm btn-outline-secondary">Classic</a>
        </div>
    </section>



    <!-- <div class="container my-5">
        <h1>placeholder:</h1>
        <a href="{{ url_for('search') }}"> link to search page</a>
    </div> -->


    <!-- Bestsellers -->
    <div class="container my-5">
        <h2 class="section-title">Bestsellers</h2>
        <div class="row g-4" id="bestsellers-row"></div>
    </div>

    <!-- Pre-orders -->
    <div class="container my-5">
        <h2 class="section-title">Coming Soon — Pre-order Now</h2>
        <div class="row g-4" id="preorders-row"></div>
    </div>

    <!-- Featured Author -->
    <div class="container my-5">
        <h2 class="section-title">Featured Author — Suzanne Collins</h2>
        <div class="row g-4" id="featured-row"></div>
    </div>


    <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3 mt-5">
    <p class="mb-0">© 2026 Favourite Books | All Rights Reserved</p>
  </footer>
    


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>


<style>
.hero {
    text-align: center;
    padding: 100px 100px;
    border-bottom: 1px solid #e9ecef;
}
</style>